// Breakpoints
$M: 480px;    // MOBILES
$S: 768px;    // SMALL-SCREENS
$T: 1024px;   // TABS
$L: 1366px;   // LAPTOPS

// Media queries
@mixin MQ($canvas) {

  @if $canvas == M {
    @media only screen and (max-width: $M) {
      @content;
    }
  }

  @else if $canvas == S {
    @media only screen and (max-width: $S) {
      @content;
    }
  }

  @else if $canvas == T {
    @media only screen and (max-width: $T) {
      @content;
    }
  }

  @else if $canvas == L {
    @media only screen and (max-width: $L) {
      @content;
    }
  }
  
}